/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
/* /////////////////////////*/
/* Your code starts here! */
.container{
  width:1200px;
  margin:0 auto;
  padding-left:20px;
  padding-right:20px;
}
/* HEADER TAGS */
.container header{
  position:fixed;
  background-color:rgb(172, 192, 224);
  z-index: 1;
}
.container header .top-nav{
  display:inline-block;
  width:974px;
  vertical-align: top;
  margin-top:10px;
  margin-bottom:60px;
  position:relative;
}
.container .top-nav a:hover{
  color:black;
  text-decoration: underline;
  text-decoration-color: grey;
}
.container header .top-nav a{
  color:grey;
  text-decoration: none;
  margin:0px 45px 0px;
}
header .logo{
  width:300px auto;
}

/* GET STARTED TAGS */
.get-started{
  display:inline-block;
  width:750px;
  margin-top:200px;
}
.get-started h1{
  font-size:5em;
  text-align: center;
  margin-right:300px;
}
.get-started .get-started-button{
  width:300px;
  height:40px;
  border:2px grey solid;
  margin-left:70px;
  font-weight: bold;
}
.get-started .get-started-button:hover{
  cursor: pointer;
  background:grey;
  transition:1.2s;
}
.get-started .get-started-button p{
  text-align:center;
  margin-top:10px;
}
.circle-img:hover{
  transform: scale(1.05);
  transition:2s;
  z-index: 0;
}

/* MAIN SECTION TAGS    */
.container .main-section{
  margin-top:125px;
  border-top:2px solid grey;
  padding: 25px;
}
.container .main-section p{
  margin-bottom:20px;
}
.container .main-section .sub-division{
  width:545px;
  display:inline-block;
}
.container .middle-img{
  width:1100px;
}
.container .main-section2 .sub-division2{
  width:330px;
  display: inline-block;
  margin-right: 50px;
  margin-top:20px;
  margin-bottom:50px;
}
.container .contact{
  padding-top:50px;
  border-top:2px solid black;
}
.container footer{
  margin-top:30px;
  text-align: center;
}

/* Our Vision Page*/

.container .our-vision{
  background-image: linear-gradient(to bottom right,#11a6ff,#de2300);
  background-size:1200px 480px;
  padding-top:150px;
  padding-bottom: 150px;
}
.our-vision h1{
  font-size: 30px;
}
.container .our-vision p{
  font-size:20px;
}

/* Random Tags */
.current-page{
  text-decoration: underline;
  font-style:italic;
}