/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
/* /////////////////////////*/
/* Your code starts here! */
/*//////////////////////////*/
h1{
  font-size:2em;
}
.current-page{
  text-decoration: underline;
  font-style:italic;
  color:black;
  background:rgb(255, 255, 255);
}
.container{
  width:1200px;
  margin:0 auto;
  padding-left:20px;
  padding-right:20px;
}
/* HEADER TAGS */
.container header{
  position:fixed;
  background-color:rgb(227, 235, 248);
  z-index: 1;
  display:flex;
  width:1160px;
  justify-content:space-between;
}
.container header .top-nav{
  display:flex;
  justify-content:flex-start;                                                                                                   
}
.container .top-nav a:hover{
  color:black;
  text-decoration: underline;
  text-decoration-color: grey;
}
.container header .top-nav a{
  color:grey;
  text-decoration: none;
  margin:0px 45px 0px;
}
header .logo{
  display:flex;
  justify-content:flex-end;
}

/* GET STARTED TAGS */
.get-started{
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  padding:100px 0;
  justify-content: space-around;
  border-bottom:2px solid black;
}
.get-started h1{
  font-size:5em;
}
.get-started .get-started-button{
  width:300px;
  height:40px;
  border:2px grey solid;
  font-weight: bold;
}
.get-started .get-started-button:hover{
  cursor: pointer;
  background:grey;
  transition:1.2s;
}
.get-started .get-started-button p{
  text-align:center;
  margin-top:10px;
}
.circle-img:hover{
  transform: scale(1.05);
  transition:2s;
  z-index: 0;
}

/* MAIN SECTION TAGS    */
.container .main-section{
  display:flex;
  margin-top:20px;
  margin-bottom: 20px;
}
.container .main-section .sub-division{
 width:100%;
}
.container .main-section .sub-division p{
  width:90%;
}
.container .middle-img{
  width:1160px;
  height:auto;
}
.container .contact{
  padding-top:50px;
  border-top:2px solid black;
}
.container footer{
  margin-top:50px;
  text-align: center;
}
/* Our Vision Page*/

.container .our-vision{
  background-image: linear-gradient(to bottom right,#11a6ff,#de2300);
  background-size:1200px 480px;
  padding-top:150px;
  padding-bottom: 150px;
}
.our-vision h1{
  font-size: 30px;
}
.container .our-vision p{
  font-size:20px;
}

/* ------------------

SERVICES.HTML CSS ONLY!

--------------------*/

.container .services-header-img{
  width:1160px;
  height:auto;
  margin-top:30px 0;
}
.container .services-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 1.3;
}
.card {
  padding: 20px;
  border: 1px solid black;
  width: 560px;
  background: whitesmoke;
  margin: 20px 0;
}

.container .card .learn-more-btn{
  padding: 10px 40px;
  margin-top: 20px;
  cursor: pointer;
  background: white;
  border-radius: 5px;
  border: 1px solid black;
  width:200px;
}
.container .card .learn-more-btn:hover{
  background:black;
  color:white;
}
.container .fun-facts{
  display:flex;
  margin-top:20px;
  padding-top:50px;
  border-top:3px solid black;
  justify-content: space-between;
}
.container .fun-facts .fun-facts-text{
  width:50%;
  line-height: 25px;
  margin-bottom:100px;
}

/*/////////////////////
ABOUT CSS ONLY
/////////////////////*/
.container .banner{
  display:flex;
  background-color:rgb(116, 116, 255);
  background-image: linear-gradient(to left bottom, #051937, #0d436b, #05739f, #00a7d2, #00deff);
  height:100px;
  width:100%;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
}
.container .about-us{
  display:flex;
  margin-bottom:50px;
  margin-top:20px;
  justify-content:space-around;
  border-right:2px solid black;
  border-left:2px solid black;
}
.container .meet-staff{
  display:flex;
  width:100%;
  flex-flow:wrap;
  align-items:center;
}
.container .meet-staff h1{
  padding-bottom:10px;
  border-bottom:2px solid black;
}
.container .meet-staff .staff-member{
  display:flex;
  align-self:center;
}
.container .meet-staff .staff-member p{
  display:flex;
  align-self:center;
}